h2 {
    margin-top: 10px;
}

.nonconfButton {
    background-color: #0C2440;
    width: 80%;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 5px;
    max-width: 214.91px;
}

